{% extends 'base.html' %}

{% block title %}
<title>Earn anywhere anytime</title>
{% endblock title %}


{% block body %}
<!-- Services section -->
<section id="what-we-do">
    <div class="container-fluid">
        <h2 class="section-title mb-2 h1">What we do</h2>
        <div class="container">
            <p class="text-center text-muted h5">Creating multiple sources of income is great, even greater is being
                able to
                earn online or create a system that earns you money while you are sleeping, to achive this you need to
                get
                the
                right online revenue generating programe. Afterwards you need to be seen by people of the same mind.
                This is
                why we are here.
            </p>
        </div>

        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-title">Quality Opportunities</h3>
                        <p class="card-text">We do a lot of research and background checks before we can allow content
                            on this webiste. This ensures that the opportunities we post here are legit and can earn
                            you. <br> <i> We cannot be 100% sure </i></p>
                        <a href="javascript:void();" title="Read more" class="read-more">See Opportunities<i
                                class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-5">
                        <h3 class="card-title">Promoting You</h3>
                        <p class="card-text">Once you have identified the opportunity you want to venture in we give you
                            the platform to
                            promote and advertise your business to our massieve viewers who are also interested in what
                            you do
                        </p>
                        <a href="javascript:void();" title="Read more" class="read-more">Promote Now<i
                                class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title">Success Stories</h3>
                        <p class="card-text">It is important to learn how others made it with online work as part timme
                            or full time. <br>
                            We publish these stories and other mind-opening writeups for you. Knoweledge is Power
                        </p>
                        <a href="javascript:void();" title="Read more" class="read-more">Read Stories<i
                                class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- link https://bootsnipp.com/snippets/0ekoq -->
    </div>
</section>
<!-- /Services section -->

<!-- Opportunities section  -->
<section>
    <div class="container ">
        <h2 class="section-title mb-2 h1 text-center">Top 10 Opportunities</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-default">
                    <div class="shape">
                        <div class="shape-text">
                            Free
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3 class="lead">
                            Free Bitcoins Per hour
                        </h3>
                        <p>
                            You have your phone? you are set!
                            <br> No need to invest
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-success">
                    <div class="shape">
                        <div class="shape-text">
                            Free
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3 class="lead">
                            Janta
                        </h3>
                        <p>
                            One of the best and simplest
                            <br> way to earn in Kenya and abroad
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-radius offer-primary">
                    <div class="shape">
                        <div class="shape-text">
                            $100
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3 class="lead">
                            Forex Trade
                        </h3>
                        <p>
                            If you get greate company or trader
                            <br> you can never go wrong with Forex
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-radius offer-primary">
                    <div class="shape">
                        <div class="shape-text">
                            $100
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3 class="lead">
                            Forex Trade
                        </h3>
                        <p>
                            If you get greate company or trader
                            <br> you can never go wrong with Forex
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-radius offer-primary">
                    <div class="shape">
                        <div class="shape-text">
                            $100
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3 class="lead">
                            Forex Trade
                        </h3>
                        <p>
                            If you get greate company or trader
                            <br> you can never go wrong with Forex
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-radius offer-danger">
                    <div class="shape">
                        <div class="shape-text">
                            $5000
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3 class="lead">
                            Forex Trade
                        </h3>
                        <p>
                            If you get greate company or trader
                            <br> you can never go wrong with Forex
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="offer offer-success">
                    <div class="shape">
                        <div class="shape-text">
                            Free
                        </div>
                    </div>
                    <div class="offer-content">
                        <h3 class="lead">
                            Janta
                        </h3>
                        <p>
                            One of the best and simplest
                            <br> way to earn in Kenya and abroad
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end of opportunities section  -->

{% endblock body %}