{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Earn anywhere anytime</title>
{% endblock title %}


{% block body %}
<!-- Services section -->
<section id="what-we-do">
    <div class="container-fluid">
        <h2 class="section-title mb-2 h1">What we do</h2>
        <div class="container">
            <p class="text-center text-muted h5">Creating multiple sources of income is great, even greater is being
                able to
                earn online or create a system that earns you money while you are sleeping, to achive this you need to
                get
                the
                right online revenue generating programe. Afterwards you need to be seen by people of the same mind.
                This is
                why we are here.
            </p>
        </div>

        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-title">Quality Opportunities</h3>
                        <p class="card-text">We do a lot of research and background checks before we can allow content
                            on this webiste. This ensures that the opportunities we post here are legit and can earn
                            you. <br> <i> We cannot be 100% sure </i></p>
                        <a href="javascript:void();" title="Read more" class="read-more">See Opportunities<i
                                class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-5">
                        <h3 class="card-title">Promoting You</h3>
                        <p class="card-text">Once you have identified the opportunity you want to venture in we give you
                            the platform to
                            promote and advertise your business to our massieve viewers who are also interested in what
                            you do
                        </p>
                        <a href="javascript:void();" title="Read more" class="read-more">Promote Now<i
                                class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title">Success Stories</h3>
                        <p class="card-text">It is important to learn how others made it with online work as part timme
                            or full time. <br>
                            We publish these stories and other mind-opening writeups for you. Knoweledge is Power
                        </p>
                        <a href="javascript:void();" title="Read more" class="read-more">Read Stories<i
                                class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- link https://bootsnipp.com/snippets/0ekoq -->
    </div>
</section>
<!-- /Services section -->

<!-- Opportunities section  -->

<!-- ::::: Begin cards ::::: -->
<section id="opportunity" style="background-color:#ecf0f1;">
    <h2 class="section-title mb-2 h1">Top Opportunities</h2>
    <div class="container">
        <div class="card-deck">

            {% for opp in opps %}

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">

                <div class="card h-90 border-primary overflow">
                    {% if opp.types == "free"%}
                    <h4 class='corner corner-red'>Free</h4>
                    <div class='card-header bg-primary'>
                        {% else%}
                        <h4 class='corner corner-red'>${{opp.least_amount}}</h4>
                        <div class='card-header bg-danger'>
                            {% endif%}


                            {% if opp.img %}
                            <img class='card-img-top rounded' src="{{opp.img.url}}" alt="image for {{opp.title}}">
                            {% else %}
                            <img class='card-img-top rounded' src="{% static 'images/money-online.jpg'%}"
                                alt="image for {{opp.title}}">
                            {% endif %}

                        </div>
                        <div class='card-body'>
                            <h4 class='card-title'><a href='{{opp.get_absolute_url}}'>{{opp.title}}</a></h4>
                            <ul class='list-unstyled'>
                                <li>
                                    <a href="{{opp.direct_link}}"><span class='badge badge-warning'> Direct
                                            link</span></a>

                                </li>
                            </ul>
                            <p class='card-text'>{{opp.description}}</p>
                        </div>
                        <div class='card-footer text-center bg-primary'>
                            <a href='#' class='btn btn-primary stretched-link'>How to start | Tips & Tricks</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>
<!-- end of opportunities  -->


<!-- story card section starts from here -->
<section class="details-card">

    <div class="container">
        <h2 class="section-title mb-2 h1">Recent Stories</h2>

        <div class="row">
            {% for story in stories %}
            <div class="col-md-4">
                <div class="card-content mb-3">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/nature" alt="">
                        <span>
                            <h4>{{story.category}}</h4>
                        </span>
                    </div>
                    <div class="card-desc">
                        <h3>{{story.title}}</h3>
                        <p>{{story.description}}</p>
                        <a href="#" class="btn-card">Read</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- details card section starts from here -->
<!-- end of opportunities section  -->

{% endblock body %}