{% extends 'administration/admin_base.html' %}


{% block contents %}

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Add an Opportunity</h5>

            </div>
            <div class="card-body ">




            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-history"></i> Updated
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contents %}